@font-face {
  font-family: 'Speeling-night';
  src: url('fonts/Spelling_Night/SpellingNight.woff2') format('woff2'),
       url('fonts/Spelling_Night/SpellingNight.woff') format('woff'),
       url('fonts/Spelling_Night/SpellingNight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Caviar-Dreams';
  src: url('fonts/caviar_dreams/CaviarDreams.woff2') format('woff2'),
       url('fonts/caviar_dreams/CaviarDreams.woff') format('woff'),
       url('fonts/caviar_dreams/CaviarDreams.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-size: 150%, 150%;
  /* background-image: 
    linear-gradient(45deg, #7b658b, #debb47); */
  animation: color-back 7s ease-in-out infinite;
  background-repeat: no-repeat;
  background-image: url(img/gradiente3.fw.png);
  background-position: center;
  background-color: #c4e5ed;
}
  
@keyframes color-back {
  0% {
    background-position: 50% 100%;
  }
  50%{
    background-position: 100% 50%;
  }
  100% {
    background-position: 50% 0%;
  }
  /* 100% {
    background-position: 50% 0%;
  } */
}



.box-branca {
  width: 500px;
  height: 500px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;  /* Centraliza o texto horizontalmente */
  align-items: center;      /* Centraliza o texto verticalmente */
  border: 1px solid #ccc;   /* Adiciona uma borda para visualização */
}