/* @import url('/sections/variables.css'); */
@font-face {
  font-family: 'Speeling-night';
 src: /* url('fonts/Spelling_Night/SpellingNight.woff2') format('woff2'), */
       /* url('fonts/Spelling_Night/SpellingNight.woff') format('woff'), */
       url('assets/fonts/Spelling_Night/SpellingNight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Caviar-Dreams';
  src: /* url('fonts/Spelling_Night/CaviarDreams.woff2') format('woff2'), */
  /* url('fonts/Spelling_Night/CaviarDreams.woff') format('woff'), */
       url('assets/fonts/caviar_dreams/CaviarDreams.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


html, body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth !important;
  /* scrollbar-gutter: stable; */
  overflow-x: hidden;
  width: 100%;
  zoom: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 100vw;
  z-index: -1;
  background-color: rgba(196, 229, 237, 0.7);
  background-image: linear-gradient(0deg, rgba(196, 229, 237, 0.7) 50%, rgba(125, 206, 239, 0.7) 50%);
  background-size: 24px 24px;
  font-family: 'Caviar-Dreams', sans-serif;
}

body > * {
  max-width: 2000px;
  margin: 0 auto;
}

::selection {
  color: var(--cor-atencao);
  background: var(--cor-txt);
}

.gradient-txt {
  background-image: linear-gradient(var(--direction, to right), var(--cor-1, black), var(--cor-2, black), var(--cor-3, black), var(--cor-4, black)); /* Define variáveis com fallback */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  --cor-1: black; /* Default color if not defined by the user */
  --cor-2: black; /* Default color if not defined by the user */
  --cor-3: black; /* Will not have an effect if not defined */
  --cor-4: black; /* Will not have an effect if not defined */
  --direction: to right; /* Default direction if not defined */
}


.no-selection::selection {
  color: default;
  background: rgba(0, 123, 255, 0.4); /* Default color with - opacity */
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 3500px;
  z-index: 2;
  box-shadow: 12px 0 8px rgba(0, 0, 0, 0.4), -12px 0 8px rgba(0, 0, 0, 0.4);
  background-color: rgba(196, 229, 237, 1);

}

.overlay-full{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999; 
  display: none; 
}

.hide-ba {
  position: relative; 
}

.hide-ba::before {
  content: '';
  position: absolute;
  top: 0; 
  left: 0; 
  width: 100%;
  height: 100%; 
  opacity: 1;
  background-color: var(--cor-branco);
  z-index: -1;
}

.overlay2 {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}


@import "https://unpkg.com/open-props" layer(design.system);
@import "https://unpkg.com/open-props/normalize.min.css" layer(demo.support);

@layer demo {
  .rounded-border-gradient {
    inline-size: var(--size-content-1);
    aspect-ratio: var(--ratio-widescreen);
    border: solid var(--size-2) transparent;
    border-radius: var(--radius-4);
    background: 
      linear-gradient(var(--surface-1), var(--surface-1)) padding-box, 
      var(--gradient-1) border-box;
  }
}

