.sobre {
  width: 100%;
  height: 110vh;
  display: flex;
  align-items: center;
  justify-content: space-between;

  overflow: hidden;
  max-width: 100vw;
}

.sobre section {
  transform: scale(0.8);
  padding-bottom: 30%;
}


.sobre h1, .sobre h2, .sobre p {
  opacity: 0;
  padding: 2vh;
  transition: opacity 1.5s ease-in;
}

.sobre h1 {
  font-size: 4vw;
  font-family: 'Speeling-Night', sans-serif;
  color: var(--cor-azul-escuro);
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5), 5px 5px 15px #1915163e;
}

.sobre h2{
  font-size: 3vw;
  color: #237c95;
}

.sobre p {
  font-size: 2.5vw;
  font-family: 'Caviar Dreams', sans-serif;
  color: var(--cor-txt);
}

.sobre p strong {color: var(--cor-roxo);}

.sobre section, .sobre-container {
  width: 90vw;
  max-height: 90dvh;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.sobre-container {
  height: 85vh;
  justify-content: center;
  align-items: center;
  user-select: none;
  opacity: 0;
  transition: opacity 1.5s ease-in;
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
  .sobre {
    flex-direction: column;
    height: 200vh;
  }
  .sobre-container{
    bottom: 0;
  }
  .sobre section {
    transform: scale(1);
    height: 80vh;
    width: 100%;
  }

  .sobre h1 {  font-size: 10vw; }
  .sobre h2 {  font-size: 7.5vw;  }
  .sobre p {  font-size: 6vw; }
  
}

@media (max-width: 450px) {  .sobre {  height: 170vh;  }  }
@media (max-width: 300px) {  .sobre {  height: 150vh;  }  }




