main > *:not(:first-child) {
  /* padding-top: 200px;
  padding-bottom: 200px; */
  margin-top: 100px;
  margin-bottom: 100px;
}

/** SOBRE **/
.sobre {
  position: relative;
  width: 100%;
  height: 110vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  max-width: 100vw;
  gap: 20px;
}

.sobre-ba {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -10;
  user-select: none;
}


.sobre-ba svg, .sobre-ba svg rect{
  fill: var(--cor-azul-claro);
  opacity: 0;
  height: 10vh;
  width: auto;
  background: none;
  background-color: transparent;
  transition: opacity 0.5s ease-in;
}

.sobre section {
  transform: scale(0.8);
  padding-bottom: 30%;
  gap: 20px;
}


.sobre h1, .sobre h2, .sobre p {
  opacity: 0;
  padding: 2vh;
  transition: opacity 1.5s ease-in;
}

.sobre h1 {
  font-size: 4vw;
  font-family: 'Speeling-Night', sans-serif;
  color: var(--cor-azul-escuro);
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5), 5px 5px 15px #1915163e;
}

.sobre h2{
  font-size: 3vw;
  color: #237c95;
}

.sobre p {
  font-size: 2.5vw;
  font-family: 'Caviar Dreams', sans-serif;
  color: var(--cor-txt);
}

.sobre p strong {color: var(--cor-roxo);}

.sobre section, .sobre-container {
  width: 90vw;
  max-height: 90dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.sobre-container {
  /* height: 85vh; */
  justify-content: center;
  align-items: center;
  user-select: none;
  opacity: 0;
  transition: opacity 1.5s ease-in;
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
  .sobre {
    flex-direction: column;
    height: 240vh;
  }
  .sobre-container{
    bottom: 0;
  }
  .sobre section {
    transform: scale(1);
    height: 80vh;
    width: 100%;
  }

  .sobre h1 {  font-size: 10vw; }
  .sobre h2 {  font-size: 7.5vw;  }
  .sobre p {  font-size: 6vw; }
  
}

@media (max-width: 590px) {  .sobre {  height: 210vh;  }  }
@media (max-width: 450px) {  .sobre {  height: 180vh;  }  }
@media (max-width: 300px) {  .sobre {  height: 150vh;  }  }




/** DEPOIMENTOS **/

.depoimentos {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1vh;
}

.depo-slider {
  position: relative;
  display: flex;
  height: 75vh;
  width: 80vw;
  align-items: center;
  overflow: hidden;
  gap: 2vw;
}

.item-depo {
  position: relative;
  background-color: var(--surface-1);
  display: flex;
  flex: 0 0 31.5%; /* Cada item ocupa 31.6% do container, resultando em 3 itens visíveis */
  justify-content: baseline;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 40vh;
  max-height: 450px;
  transition: .300ms, transform 300ms;
  overflow: hidden;

  --size-content-1: 100px;
  --ratio-widescreen: 16 / 9;
  --size-2: 5px;
  --radius-4: 10px; 
  --surface-1: var(--cor-azul-escuro); 
  --gradient-1: linear-gradient(45deg, #b45ef2, var(--cor-laranja));

  box-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
}

.item-depo > * {
  z-index: 2;
}

.item-depo::after {
  content: ''; /* Necessário para exibir o pseudo-elemento */
  position: absolute;
  top: 0; /* Posiciona o pseudo-elemento no topo do item */
  left: 0; /* Posiciona o pseudo-elemento à esquerda */
  right: 0; /* Expande o pseudo-elemento até a borda direita */
  bottom: 0; /* Expande o pseudo-elemento até a borda inferior */
  background-color: #7b658b;
  opacity: 1;
  background-image: radial-gradient(circle at center center, #deb6fb, #7b658b), repeating-radial-gradient(circle at center center, #deb6fb, #deb6fb, 7px, transparent 14px, transparent 7px);
  background-blend-mode: multiply;

  z-index: 1; /* Coloca o pseudo-elemento atrás do conteúdo do item */
}


.item-depo p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: larger;
  color: var(--cor-atencao);
}

.item-depo img:nth-last-of-type(1) {
  margin-top: 2%;
  align-self: baseline , center;
}

.item-depo img:nth-of-type(2) {
  user-select: none;
  position: absolute;
  margin-left: 16%;
  top: 25%;  
  transform: translate(-50%, -50%) rotate(180deg);
}

.item-depo img:nth-of-type(3) {
  user-select: none;
  position: absolute;
  margin-right: 10%;
  top: 65%;
}


@media (max-width: 850px) {  .item-depo:not(.slider-control) {  flex: 0 0 48.8%;  }  }
@media (max-width: 650px) {  .item-depo:not(.slider-control) {  flex: 0 0 100%;  } }

.slider-control {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.slider-btt {
  user-select: none;
  cursor: pointer;
  transform: scale(1.5);
  padding: 10px;
  transition: transform 200ms;
}

.slider-btt:hover{
  transform: scale(2)
}




/**  RESERVA  **/

.reserva {
  position: relative;
  height: 100vh;
  overflow: hidden;
  border-top: 3px groove black;  /* Borda superior */
  border-bottom: 3px groove black; /* Borda inferior */
}


/* background do .reserva */
.ba-reserva {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  user-select: none;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  gap: 0.5vw;
  padding: 5px;
  background-image: linear-gradient(to bottom, #b45ef2, var(--cor-laranja));
  z-index: -2;
}

@media (max-width: 660px) {
  #hideable {  display: none; }
}

.ba-reserva img {
  flex: 1 1 49.2%;
  object-fit: fill;
  height: 98vh;
  overflow: hidden;
  --size-content-1: 20vw;
  --size-2: 3px;
  --radius-4: 5px;
  --surface-1: #25d36500; 
  --gradient-1: linear-gradient(45deg, var(--cor-branco), var(--cor-azul-claro));
}

.reserva-content {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 17%;
}

.reserva-content a {
  margin-bottom: 10%;
  font-size: 0.95rem;
}

.reserva-content a img {
  position: absolute;
  top: 50%; right: 10%;  transform: translate(-50%, -50%);
}

/* media queries for .whatsapp-button */
@media (max-width: 700px) {  .reserva-content a {  --size-content-1: 38vw;  }  }

@media (max-width: 635px) {  
  .reserva-content a {
      --size-content-1: 33vw;
  } 
  .reserva-content a + div section {
    font-size: calc(1rem + 0.5vw); 
  }
}

@media (max-width: 500px) {  .reserva-content a {  --size-content-1: 50vw;  }  }

@media (max-width: 470px) {  .reserva-content a {  --size-content-1: 60vw;  }  }

@media (max-width: 390px) {  
  .reserva-content a {
   --size-content-1: 65vw;
  } 
  .reserva-content a + div section {
    font-size: calc(0.8rem + 0.5vw); 
  }
}

@media (max-width: 360px) {  
  .reserva-content a {
      font-size: 0;  
      height: 8vh;
      width: 2vw;
      border-radius: 100%;
  } 
  .reserva-content a img {
    position: absolute;
    top: 50%; left: 50%;  transform: translate(-50%, -50%);
  }
}

@media (min-width: 1200px) {
  .reserva-content a {
    --size-content-1: clamp(13%, 13%, 14%);
    transform: scale(1.4);
  } 
  .reserva-content a:hover {  transform: scale(1.5); }
  .reserva-content a:active {  transform: scale(1.3); }
}

.reserva-content a + div {
  display: flex;
  justify-content: center;
  gap: 4%;
}

.reserva-content section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3%;
  width: 40%;
  height: 50vh;
  color: #E0D8DE;
  font-size: calc(1rem + 1vw); 
  overflow: hidden;
}


.whatsapp-button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background-color: #25D366; 
  color: #4B3B47; 
  text-decoration: none;
  border-radius: 5px; 
  font-size: 16px;
  font-weight: bolder;

  transition: transform 300ms, color 300ms, filter 300ms;


  --size-content-1: 22vw;
  --ratio-widescreen: 10 / 1;
  --size-2: 3px;
  --surface-1: #25D366; 
  --gradient-1: linear-gradient(to right, #b45ef2, var(--cor-laranja));
}

.whatsapp-button:hover {  transform: scale(1.05); color: #E0D8DE;  --gradient-1: linear-gradient(to right, #9500ff, var(--cor-atencao)); }

.whatsapp-button:active {  transform: scale(0.98);  }

.whatsapp-button:hover img {  filter: invert(92%) sepia(7%) saturate(125%) hue-rotate(295deg) brightness(94%) contrast(90%);  }

.whatsapp-button img {  transition: all 300ms; filter: invert(19%) sepia(14%) saturate(431%) hue-rotate(300deg) brightness(92%) contrast(93%); }

.whatsapp-button::after {
  content: '';
  position: absolute;
  top: 0; 
  left: 0; 
  right: 0;
  bottom: 0;
  background-color: #25D366;
  opacity: 0;
  transition: opacity 300ms; 
  z-index: -1;
}

.whatsapp-button:hover::after {  opacity: 1;  background-color: #237c95;  }




/**  LOCALIZACAO  **/

.localizacao {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.localizacao h1 + div {
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}


