.sobre {
  position: relative;
  width: 100%;
  height: 100dvh;
  max-height: 100dvh;
  background-image: linear-gradient(315deg, #c4e5ed, #107d9a);
  animation: color-back 10s ease-in-out infinite;
  background-size: 150% 200%;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center; 
}

.sobre section {
  width: 45%;
  max-height: 100dvh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.sobre h1{
  font-size: 3rem;
}

.sobre p{
  font-size: 1.5rem;
}
.container{

}
.my-slider {
  width: 100vw; /* Faz o slider ocupar toda a largura do contêiner pai */
  height: 100%; /* Faz o slider ocupar toda a altura do contêiner pai */
  margin: 0 auto; /* Centraliza o slider na página */
  display: flex; /* Usando flexbox para manipulação de layout */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}

#tns1-iw {
  display: flex; /* Usando flexbox para manipulação de layout */
  justify-content: space-between; /* Distribui os itens uniformemente */
  align-items: center; /* Centraliza verticalmente */
  width: 100%;
  height: 45vh; /* Define uma altura fixa para o contêiner */
  overflow: hidden; /* Esconde partes da imagem que ultrapassam o contêiner */
}

.item {
  flex: 0 0 33%; /* Cada item ocupa 33% da largura do contêiner (ajuste conforme necessário) */
  height: 100%; /* Faz o item ocupar toda a altura do contêiner pai */
  display: flex; /* Usando flexbox para manipulação de layout */
  justify-content: center; /* Centraliza a imagem horizontalmente */
  align-items: center; /* Centraliza a imagem verticalmente */
}

.item img {
  max-width: 100%; /* Faz a imagem ocupar a largura máxima do item sem esticar */
  max-height: 100%; /* Faz a imagem ocupar a altura máxima do item sem esticar */
  object-fit: contain; /* Mantém a proporção da imagem sem cortá-la */
}

/* Outros estilos permanecem os mesmos */
.tns-outer {
  overflow: hidden; /* Esconde qualquer parte da imagem que ultrapasse o contêiner */
}

.tns-controls {
  position: relative;
  display: flex;
  gap: 200px;
  justify-content: center; /* Distribui os botões nos lados */
  z-index: 10; /* Coloca os botões acima das imagens */
}

.tns-controls button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 20px;
  cursor: pointer;
  font-size: 20px; /* Tamanho do ícone */
  transition: transform 0.4s; /* Transição suave para o fundo */
}

.tns-controls button:hover {
  transform: scale(1.5);
}

