nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 99.99999%;
  height: 17vh;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  font-family: 'Caviar-Dreams', sans-serif;
  z-index: 69;
  top: 0;
  left: auto;
  overflow: hidden;
  transition: top 300ms;

  --_gap: 5%;
  --_mainHeight: 75%;
  --_width: 90%;
  --_grid: 17;
  --_sub-grid: var(--_grid, 17);
  --_font-size: calc(0.5rem + 1vw);
  --_max-width-mobile: 670px;
}

@media (max-width: var(--_max-width-mobile)) {
  .hide-mobile { display: none; }
}

@media (max-width: 1800px) {
  nav {--_grid: 16}
}
@media (max-width: 1000px) {
  nav {--_grid: 15}
}
@media (max-width: 800px) {
  nav {--_grid: 14}
}
@media (max-width: 670px) {
  nav {--_grid: 12}
  nav {--_sub-grid: 20}
  nav { --_font-size: calc(var(--_font-size) + 0.5rem) }
  .logo { height: 14vh !important; }
  nav .sub-nav .links .more { display: flex !important; }
}
@media (max-width: 500px) {
  nav {--_grid: 10}
}

nav .more {
  display: none;
  overflow-y: visible;
  position: absolute;
}

nav #nav-placeholder {
  grid-column: span calc(20 - var(--_grid));
}

nav .logo {
  position: absolute;
  height: 18.5vh;
  width: clamp( 200px, 14vw , 500px );
}

nav .nav-grid {
  display: grid; 
  grid-template-columns: repeat(20, 1fr); 
}

/* MAIN-NAV */

nav .main-nav {
  background: linear-gradient(to right, var(--cor-roxo),  #a08357);
  height: var(--_mainHeight);
}

nav .main-nav > div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-grow: 1;
  height: 100%;
  grid-column: span var(--_grid);
}

nav .main-nav > div > h1 {
  font-size: calc(1rem + 3.5vw);
  font-weight: bolder;
}

nav .main-nav > div .nav-loc {
  margin-right: 5%;
  font-size: calc(0.5rem + 2vw);
}


/* SUB-NAV */

nav .sub-nav {
  background-color: var(--cor-laranja);
  height: calc(100% - var(--_mainHeight));
  font-size: var(--_font-size);
}

nav .sub-nav i {
  font-size: calc(var(--_font-size) + 0.5vw);
}

nav .sub-nav > div { 
  flex-grow: 1; 
  grid-column: span var(--_sub-grid);
}

/* SOCIAL */

nav .sub-nav .social {
  display: flex;
  flex-direction: row;
  grid-column: span 7;
  justify-content: center;
}

nav .sub-nav .social button {
  all: unset;
  cursor: pointer; 
  display: flex;
  flex-direction: row;
  
  align-items: center;
  white-space: nowrap;

}

nav .sub-nav .social button p { margin-left: 5%; font-size: calc(var(--_font-size) - 0.5rem); }

nav .sub-nav .social a {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .sub-nav .social i {
  position: relative;
  left: 0;
}

/* FLAGS */

nav .sub-nav .lang { 
  margin-right: 1%; 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  grid-column: span 2;
}

nav .sub-nav .lang i  {
  cursor: pointer;
}

/* LINKS */

nav .sub-nav .links {
  display: flex;
  width: auto;
  overflow: hidden;
  gap: var(--_gap);
  grid-column: span 11;
  align-items: center;
}

nav .sub-nav .links a {
  text-decoration: none;
}