/* Estilo da imagem de fundo */
.ba-img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 107dvh; 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: ba-change 65s linear infinite;
  z-index: 0;
}
/* Animação da mudança de imagem de fundo */
@keyframes ba-change {
  0%, 10% { background-image: url(../img/Pousada/fachada-da-pousada.png); }
  20%, 30% { background-image: url(../img/Pousada/6617f1302729d_7salaconjugada940x788.png); }
  40%, 50% { background-image: url(../img/Pousada/6617f251dd019_2fachadalocao.jpg); }
  60%, 70% { background-image: url(../img/Pousada/6617f180b79ab_16banheiro2940x788.png); }
  80%, 90% { background-image: url(../img/Pousada/6617f1be33c11_12quarto1940x788.png); }
  100% { background-image: url(../img/Pousada/fachada-da-pousada.png); }
}

/* Estilo do overlay */
.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Título do overlay */
.overlay h1 {
  margin: 0;
  font-size: 3.5rem;
  font-family: 'Speeling-night', sans-serif;
  animation: float 10s ease-in-out infinite;
  --cor-1: var(--cor-azul-claro);     
  --cor-2: var(--cor-azul-escuro);
  --cor-3: var(--cor-azul-escuro);
  --cor-4: var(--cor-azul-claro);     
}

.overlay h1 span {
  --cor-1: var(--cor-roxo);     
  --cor-2: var(--cor-laranja);
  --cor-3: var(--cor-laranja);
  --cor-4: var(--cor-roxo);     
  padding-left: 10px;
}

/* Parágrafo do overlay */
.overlay p {
  font-weight: bold;
  color: var(--cor-azul-escuro);
  margin-top: 1.5rem;
  font-size: 1rem;
  font-family: 'Caviar-Dreams', sans-serif;
  text-shadow: 
    1px 1px 0 black, 
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black;
}

/* Animação de flutuação */
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
