/* @import url(./reserva.css); */
/* .quantity imported */

.quantity {
  display: inline-flex;
  align-items: center;
  justify-items: center;
}

.quantity input[type="number"] {
  width: 50px;
  text-align: center;
  border: none;
  pointer-events: none;
  border-radius: 4px;
  background: none;
  font-size: 16px;
}

.quantity input[type="number"]::-webkit-outer-spin-button,
.quantity input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.quantity input[type="number"][type=number] {  
  -moz-appearance: textfield; 
}

.quantity-button {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
}

.quantity-down { 
  font-size: 26px; 
}

.quantity-button:hover { 
  border: 1px solid hsl(0, 0%, 65%); 
}

/* BOOKING FORM */

.booking-section {
  position: relative;
  margin-top: -7dvh !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  --_font-weight: 400;
  --min-width-form: 400px;
}

.form-content {
  background-color: antiquewhite;
  border-radius: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  min-height: 400px;
  width: clamp(var(--min-width-form, 400px), 40%, 750px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.form-content > h2 {
  font-weight: 900;
  font-size: calc(var(--header-font-size, xx-large) - 0.5vw);
}

form.booking-form {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  justify-content: space-between;

  row-gap: var(--_gap, 10px);
  --_gap: 10px;
}

.form-div::after {
  content: "";
  position: relative;
  width: 100%;
  height: 1px;
  bottom: calc(var(--_gap, 10px) * -1);
  background-color: hsl(0, 0%, 90%);
}

.form-div label {
  white-space: nowrap;
  font-size: large;
  cursor: text;
}

label.date-label { 
  line-height: none; 
}

input.datepicker-input {
  text-align: end;
  cursor: pointer;
  width: 130px;
  padding: 5px;
  border-radius: 5px;
  font-size: 1rem;
  border: 1px solid #ccc;
  background: none;
}

.form-btn {
  position: relative;
  white-space: nowrap;
  width: auto !important;
  padding: 0 10px 0 10px !important;
  border-radius: 4px;
  height: 40px;
  cursor: pointer;
  transition: all 300ms;

  --_content: 'Complete todos os dados';
}

.form-btn:not(:disabled):hover { border: 1px solid var(--cor-verde, #28a745); }

.form-btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.form-btn:disabled:hover {  color: red; }

/* MEDIA QUERIES */

@media (max-width: 400px) {
  .form-content { 
    width: 100%; 
  }
  .form-content h2, 
  .form-div label, 
  input.datepicker-input { 
    text-align: center; 
  }
  .form-div { 
    flex-direction: column; 
    justify-content: center; 
    column-gap: 100%; 
  }
  .form-btn { 
    align-self: center; 
  }
}

.quantity-button, input.datepicker-input { transition: background-color 300ms ease; }
.quantity-button:hover, input.datepicker-input:hover {  background-color: hsl(34, 78%, 86%);  }

/* .liveValue </div> */

.liveValue {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
  transition: all 500ms ease;
}

.liveValue small {
  margin-top: 2px;
  font-size: 12px;
  opacity: 0.6;
}

.totalValue {
  display: inline-flex;
  justify-self: center;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  flex-grow: 0.6; /* For </strong> to be in the middle */
  white-space: nowrap;
  font-size: 1rem;
  font-weight: bold;
}

.flex-submit {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
  width: 100%;
}

/* MEDIA QUERIES */

@media (max-width: 400px) {
  .flex-submit { column-gap: 100%; justify-content: center; }
  .liveValue { display: none; }
  .totalValue { flex-grow: unset; }
}