main > *:not(:first-child):not(.booking-form) {
  margin-top: 200px;
  margin-bottom: 200px;
}

.flex {
  display: flex;
}

/** SOBRE **/
.sobre-section {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
  background-color: var(--cor-branco);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 1200px;
  margin: 40px auto;

  --_primary: var(--cor-branco-escuro, #107d9a);
}

.slider-container {
  position: relative;
  flex: 1 1 300px;
  max-width: 480px;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider-image {
  min-width: 100%;
  height: auto;
  border-radius: 8px;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.2);
  color: var(--cor-branco);
  border: none;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  border-radius: 10%;
  transition: all 250ms;
}

.slider-btn:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.content-container {
  flex: 1 1 400px;
}

.content-container h1 {
  color: var(--_primary);
  font-size: 2rem;
  margin: 0;
}

.content-container h2 {
  color: #555555;
  font-size: 1.2rem;
  margin: 10px 0 20px;
}

.content-container p {
  color: #333333;
  font-size: 1.2rem;
  line-height: 1.5;
}

.btn-reserve {
  display: inline-block;
  background-color: var(--_primary);
  color: var(--cor-branco);
  font-size: 1rem;
  padding: 10px 20px;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-reserve:hover {
  background-color: #00509e;
}

/** Acomodações **/

.acomodacoes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 50px;
}

.acomodacoes > p {
  width: 90%;
  text-align: center;
  font-size: large;
  line-height: 1.5;
}

.acomodacoes > h2 {
  font-size: var(--header-font-size);
  text-align: center;
}

.acomodacoes .flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}

@media (max-width: 645px) {
  .card { flex-grow: 0.2; }
}

.card {
  background-color: var(--cor-branco);
  width: var(--_width, 300px);
  min-height: var(--card-height, 500px);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transform: translateY(0);
  transition: transform 0.3s ease, box-shadow 0.3s ease;


  --_primary: var(--cor-azul-escuro, #107d9a);
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-image {
  width: var(--img-width, 100%);
  height: var(--img-height, 200px);
  object-fit: cover;
}

.card-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;
}

.card-description {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

.card-btn {
  text-decoration: none;
  background-color: var(--_primary);
  color: var(--cor-branco);
  padding: 10px 15px;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  width: 100%;
  transition: background-color 0.3s ease;
}

.card-btn:hover {
  background-color: #0056b3; 
}

/**  GREAT  **/

.great {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 65px;

  --img-height: 200px;
  --img-width: 50%;
}

.great > h2 {
  font-size: var(--header-font-size);
}

.great .flex {
  width: 100%;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 20px;
}

.great .card .img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.great .card {
  min-height: 475px;
}

.great .card img {
  width: 100px;
  height: 100px;
}

.great .card .card-content h2 {
  text-align: center;
}

/**  GALLERY  **/

.gallery, .gallery header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.gallery header h2 { font-size: var(--header-font-size); white-space: nowrap; }

.gallery header ul {
  list-style: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.gallery .img-gallery::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.gallery .img-gallery::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.015); /* Light background color of the track */
  border-radius: 10px;
}

.gallery .img-gallery::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #b0802f, var(--cor-laranja, orange), var(--cor-laranja, orange), var(--cor-laranja, orange), var(--cor-laranja, orange), var(--cor-laranja, orange), var(--cor-laranja, orange), var(--cor-laranja, orange), var(--cor-laranja, orange), #b0802f); /* Gradient thumb */
  border-radius: 10px;
}

.gallery .img-gallery::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, hsl(46, 70%, 15%), hsl(46, 70%, 40%), hsl(46, 70%, 40%), hsl(46, 70%, 40%), hsl(46, 70%, 40%), hsl(46, 70%, 40%), hsl(46, 70%, 40%), hsl(46, 70%, 40%), hsl(46, 70%, 40%), hsl(46, 70%, 15%)); /* Inverted gradient on hover */
}

.gallery .img-gallery {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  background-color: hsl(0, 0%, 96%);
  max-width: 90%;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  direction: rtl;
}

.gallery .img-gallery img {
    width: 300px;
    height: 250px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.gallery .img-gallery img:hover {
    transform: scale(1.05);
}

.gallery .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

@media only screen and (orientation: portrait) and (max-width: 500px) {  .gallery .popup aside {  display: flex !important; } }

.gallery .popup aside {
  color: var(--cor-branco, white);
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 15%;
  width: 100%;
}

.gallery .popup aside img {
  position: absolute;
  width: 80px;
  height: 80px;
  max-width: 80px;
  max-height: 80px;
}

.gallery .popup aside > p + div > div {
  position: absolute;
  overflow: visible;
  top: -10vh;
  left: 45vw;
  transform: translate(-50%);
  min-width: 40px;
  min-height: 40px;
  cursor: pointer;

  animation: rotate 5s cubic-bezier(0.9, 0, 0.1, 1) 200ms infinite;
}

.gallery .popup aside > p + div > div img {
  position: absolute;
  width: 100%;
  height: auto; 
  object-fit: contain;
  top: 0;
  left: 0;
}

.gallery .popup aside > p + div > div img:first-of-type {
  margin-left: +15%;
  margin-top: -30%;
}

.gallery .popup aside > p + div > div img:last-of-type {
  transform: rotate(180deg);
  margin-left: -15%;
  margin-top: +30%;
}

@keyframes rotate{
  0%, 100% { transform: rotate(var(--_deg, 0)); }
  50% { transform: rotate(var(--_final-deg , 90deg)); }
  80% { transform: rotate(var(--_deg, 0)); }
}

.gallery .slider {
    position: relative;
    width: 80%;
    max-width: 700px;
}

#slider-img {
  width: 100%;
  border-radius: 10px;
}

.gallery .close {
  top: clamp(-100px, -20%, -200px);
  right: 0;
  font-size: 4rem !important;
}

.gallery .close:hover {
  font-size: 5rem !important;
}

.gallery .prev, .next {
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
}
.gallery .prev {
  left: -10%;
}
.gallery .next {
  right: -10%;
}

.gallery .close, .gallery .prev, .gallery .next  {
  position: absolute;
  font-size: 2rem;
  cursor: pointer;
  color: var(--cor-branco);
  background: none;
  border: none;
  transition: all 200ms;
}
.gallery .prev:hover, .gallery .next:hover {
  font-size: 2.5em;
}

/**  LOCALIZACAO  **/

.localizacao {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.localizacao h2 {
  font-size: var(--header-font-size, calc(2rem + 2vw));   
  --cor-1: var(--cor-roxo);     
  --cor-2: var(--cor-roxo);     
  --cor-3: var(--cor-laranja);
  --cor-4: var(--cor-laranja);
}

.localizacao h2 + div {
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}


.map-iframe {
  width: 100%; 
  height: 100%; 
  border: 2px solid var(--cor-laranja); 
  border-radius: 20px;
  display: none; 
  user-select: none;
}

.iframe-buttons {
  display: flex; 
  flex-direction: row; 
  justify-content: flex-end; 
  margin-top: -5%;
  width: 100%; 
  gap: 0.5vw;
}

.iframe-buttons button {
  border: none; background: none; padding: 0.2%; 
  cursor: pointer;
  border-radius: 10px;
  transition: background 200ms;
}

.iframe-buttons button img {  width: 3vw;  height: auto;  }

.iframe-buttons button.active {  background: #237c95;  }

#iframeFS {
  position: absolute;
  bottom: 30%;
  right: 2.4%;
  cursor: pointer;
  transform: scale(1.4);
  transition: transform 300ms;
}

#iframeFS:hover {  transform: scale(1.8);  }

#iframe-div {
  width: 80%; 
  height: 85vh; 
  display: flex; 
  flex-direction: column; 
  align-items: flex-start;
}

@media (max-width : 768px) {
  .localizacao  {  height: auto; gap: 6vh; }
  .localizacao h1 {  font-size: calc(1rem + 10vw);  }
  .localizacao h1 + div {
    flex-direction: column;
    height: auto;
    gap: 7vh;
  }
  .localizacao h1 + div section {
    font-size: calc(0.5rem + 3.5vw);
    gap: 3vh;
  }
  .localizacao h1 + div section + div {  width: 100%;  }
  .localizacao h1 + div section li {  font-size: calc(0.5rem + 2vw);  }
  #iframe-div {  width: 100%;  }
  #iframeFS {  right: 4.7%;  }
  .iframe-buttons button img {
    width: 8vw;
  }
}