main > *:not(:first-child):not(.booking-form) {
  margin-top: 200px;
  margin-bottom: 200px;
}

/** SOBRE **/
.sobre-section {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 1200px;
  margin: 40px auto;

  --_primary: var(--cor-branco-escuro, #107d9a);
}

.slider-container {
  position: relative;
  flex: 1 1 300px;
  max-width: 480px;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider-image {
  min-width: 100%;
  height: auto;
  border-radius: 8px;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  border-radius: 10%;
  transition: all 250ms;
}

.slider-btn:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.content-container {
  flex: 1 1 400px;
}

.content-container h1 {
  color: var(--_primary);
  font-size: 2rem;
  margin: 0;
}

.content-container h2 {
  color: #555555;
  font-size: 1.2rem;
  margin: 10px 0 20px;
}

.content-container p {
  color: #333333;
  font-size: 1rem;
  line-height: 1.5;
}

.btn-reserve {
  display: inline-block;
  background-color: var(--_primary);
  color: var(--cor-branco);
  font-size: 1rem;
  padding: 10px 20px;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-reserve:hover {
  background-color: #00509e;
}

/** Acomodações **/

.acomodacoes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}

@media (max-width: 645px) {
  .card { flex-grow: 0.2; }
}

.card {
  background-color: #fff;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transform: translateY(0);
  transition: transform 0.3s ease, box-shadow 0.3s ease;


  --_primary: var(--cor-azul-escuro, #107d9a);
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;
}

.card-description {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

.card-btn {
  text-decoration: none;
  background-color: var(--_primary);
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  width: 100%;
  transition: background-color 0.3s ease;
}

.card-btn:hover {
  background-color: #0056b3;
}

/**  RESERVA  **/

.reserva {
  position: relative;
  height: 100vh;
  overflow: hidden;
  border-top: 3px groove black;  /* Borda superior */
  border-bottom: 3px groove black; /* Borda inferior */
}


/* background do .reserva */
.ba-reserva {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  user-select: none;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  gap: 0.5vw;
  padding: 5px;
  background-image: linear-gradient(to bottom, #b45ef2, var(--cor-laranja));
  z-index: -2;
}

@media (max-width: 660px) {
  #hideable {  display: none; }
}

.ba-reserva img {
  flex: 1 1 49.2%;
  object-fit: fill;
  height: 98vh;
  overflow: hidden;
  --size-content-1: 20vw;
  --size-2: 3px;
  --radius-4: 5px;
  --surface-1: #25d36500; 
  --gradient-1: linear-gradient(45deg, var(--cor-branco), var(--cor-azul-claro));
}

.reserva-content {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 17%;
}

.reserva-content a {
  margin-bottom: 10%;
  font-size: 0.95rem;
}

.reserva-content a img {
  position: absolute;
  top: 50%; right: 10%;  transform: translate(-50%, -50%);
}

/* media queries for .whatsapp-button */
@media (max-width: 700px) {  .reserva-content a {  --size-content-1: 38vw;  }  }

@media (max-width: 635px) {  
  .reserva-content a {
      --size-content-1: 33vw;
  } 
  .reserva-content a + div section {
    font-size: calc(1rem + 0.5vw); 
  }
}

@media (max-width: 500px) {  .reserva-content a {  --size-content-1: 50vw;  }  }

@media (max-width: 470px) {  .reserva-content a {  --size-content-1: 60vw;  }  }

@media (max-width: 390px) {  
  .reserva-content a {
   --size-content-1: 65vw;
  } 
  .reserva-content a + div section {
    font-size: calc(0.8rem + 0.5vw); 
  }
}

@media (max-width: 360px) {  
  .reserva-content a {
      font-size: 0;  
      height: 8vh;
      width: 2vw;
      border-radius: 100%;
  } 
  .reserva-content a img {
    position: absolute;
    top: 50%; left: 50%;  transform: translate(-50%, -50%);
  }
}

@media (min-width: 1200px) {
  .reserva-content a {
    --size-content-1: clamp(13%, 13%, 14%);
    transform: scale(1.4);
  } 
  .reserva-content a:hover {  transform: scale(1.5); }
  .reserva-content a:active {  transform: scale(1.3); }
}

.reserva-content a + div {
  display: flex;
  justify-content: center;
  gap: 4%;
}

.reserva-content section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3%;
  width: 40%;
  height: 50vh;
  color: #E0D8DE;
  font-size: calc(1rem + 1vw); 
  overflow: hidden;
}


.whatsapp-button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background-color: #25D366; 
  color: #4B3B47; 
  text-decoration: none;
  border-radius: 5px; 
  font-size: 16px;
  font-weight: bolder;

  transition: transform 300ms, color 300ms, filter 300ms;


  --size-content-1: 22vw;
  --ratio-widescreen: 10 / 1;
  --size-2: 3px;
  --surface-1: #25D366; 
  --gradient-1: linear-gradient(to right, #b45ef2, var(--cor-laranja));
}

.whatsapp-button:hover {  transform: scale(1.05); color: #E0D8DE;  --gradient-1: linear-gradient(to right, #9500ff, var(--cor-atencao)); }

.whatsapp-button:active {  transform: scale(0.98);  }

.whatsapp-button:hover img {  filter: invert(92%) sepia(7%) saturate(125%) hue-rotate(295deg) brightness(94%) contrast(90%);  }

.whatsapp-button img {  transition: all 300ms; filter: invert(19%) sepia(14%) saturate(431%) hue-rotate(300deg) brightness(92%) contrast(93%); }

.whatsapp-button::after {
  content: '';
  position: absolute;
  top: 0; 
  left: 0; 
  right: 0;
  bottom: 0;
  background-color: #25D366;
  opacity: 0;
  transition: opacity 300ms; 
  z-index: -1;
}

.whatsapp-button:hover::after {  opacity: 1;  background-color: #237c95;  }




/**  LOCALIZACAO  **/

.localizacao {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.localizacao h1 {
  font-size: calc(2rem + 3vw);   
  --cor-1: var(--cor-roxo);     
  --cor-2: var(--cor-roxo);     
  --cor-3: var(--cor-laranja);
  --cor-4: var(--cor-laranja);
}

.localizacao h1 + div {
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}


.map-iframe {
  width: 100%; 
  height: 100%; 
  border: 2px solid var(--cor-laranja); 
  border-radius: 20px;
  display: none; 
  user-select: none;
}

.iframe-buttons {
  display: flex; 
  flex-direction: row; 
  justify-content: flex-end; 
  margin-top: -5%;
  width: 100%; 
  gap: 0.5vw;
}

.iframe-buttons button {
  border: none; background: none; padding: 0.2%; 
  cursor: pointer;
  border-radius: 10px;
  transition: background 200ms;
}

.iframe-buttons button img {  width: 3vw;  height: auto;  }

.iframe-buttons button.active {  background: #237c95;  }

#iframeFS {
  position: absolute;
  bottom: 30%;
  right: 2.4%;
  cursor: pointer;
  transform: scale(1.4);
  transition: transform 300ms;
}

#iframeFS:hover {  transform: scale(1.8);  }

#iframe-div {
  width: 80%; 
  height: 85vh; 
  display: flex; 
  flex-direction: column; 
  align-items: flex-start;
}

@media (max-width : 768px) {
  .localizacao  {  height: auto; gap: 6vh; }
  .localizacao h1 {  font-size: calc(1rem + 10vw);  }
  .localizacao h1 + div {
    flex-direction: column;
    height: auto;
    gap: 7vh;
  }
  .localizacao h1 + div section {
    font-size: calc(0.5rem + 3.5vw);
    gap: 3vh;
  }
  .localizacao h1 + div section + div {  width: 100%;  }
  .localizacao h1 + div section li {  font-size: calc(0.5rem + 2vw);  }
  #iframe-div {  width: 100%;  }
  #iframeFS {  right: 4.7%;  }
  .iframe-buttons button img {
    width: 8vw;
  }
}