body, .content { overflow-x: hidden; }


main {
  background-color: var(--cor-branco, snow);
  max-height: 80vh;
  display: flex;
  /* REMINDER : mudar para row e 200% */
  flex-direction: row;
  width: 200%;
  flex-grow: 1;
  transition: transform 0.5s ease-in-out;
}

.main-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: clamp(750px, 100dvh, 900px);
}

h1 { font-size: calc(var(--header-font-size, 2rem) + 0.5rem); }
h2 { font-size: var(--header-font-size, 2rem); }
h1, h2 { text-align: center; }

section[class^="step"] {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--_gap, 50px);

  --_gap: 50px;
}

.form-btn {
  width: auto !important;
  padding: 0 10px 0 10px !important;
  white-space: nowrap !important;
}

/* Indicators */
.indicators {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  width: 100%;
  margin: 20px 0;
  bottom: 10px;
  position: relative;
}

.indicator {
  width: 15px;
  height: 15px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.indicator.active {  background-color: var(--cor-atencao, gold) !important;  }
.indicator.visited {  background-color: var(--cor-verde, green);  }

.arrow {
  position: absolute;
  background: none;
  color: var(--cor-txt, black);
  font-size: 24px;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  pointer-events: auto;
  opacity: 0.8;
  transition: opacity 0.3s, background-color 0.3s;
}

@media (max-width: 300px) {
  #prev-arrow {  left: 5px !important;  }
  #next-arrow {  right: 5px !important;  }
}

.arrow:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}

.arrow:hover:disabled {   background-color: red; }
.arrow:hover:not(:disabled) {  background-color: rgba(0, 0, 0, 0.2);  }
.arrow:active:not(:disabled) { background-color: var(--cor-verde, green);  }

.step2 {  gap: calc(var(--_gap, 50px) + 5vh); }

.payment {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 200px;
  row-gap: 50px;
  min-width: 100%;
}

.square {
  width: 200px;
  height: 200px;
  border: 2px solid #ccc;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 90%);
  color: hsl(0, 0%, 60%);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: all 0.3s;

  --_green: var(--cor-verde, green);
  --_light-green: hsl(134, 61%, 90%);
}

.square svg {
  position: relative;
  top: -30px;
  max-width: 80%;
  max-height: 80px;
}

.square.active, .square.active path, .square:not(.active):hover .card-svg path,
.square:not(.active):hover, .square:not(.active):hover path {
  border-color: var(--_green, green);
  color: var(--_green, green);
  fill: var(--_green, green);
  background-color: var(--_light-green, green);
  box-shadow: var(--_light-green, lightgreen) 0px 54px 55px, rgb(214, 245, 221, 0.87) 0px -12px 30px, rgb(214, 245, 221, 0.88) 0px 4px 6px, rgb(214, 245, 221, 0.83) 0px 12px 13px, rgb(214, 245, 221, 91) 0px -3px 5px;
}