/* Estilo da imagem de fundo */
.ba-img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 107dvh; 
  background-color: var(--cor-azul-escuro);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: ba-change 65s linear infinite;
  z-index: 0;
}

@keyframes ba-change {
  0%, 10% { background-image: url(https://res.cloudinary.com/dycnoic1s/image/upload/q_auto,f_auto/v1732990766/img-0461-largejpg_LE_upscale_balanced_x4_zalao8.jpg);  }
  20%, 30% { background-image: url(https://res.cloudinary.com/dycnoic1s/image/upload/q_auto,f_auto/v1732901670/fachada-da-pousada_r0hpto.png);  }
  40%, 50% { background-image: url(https://res.cloudinary.com/dycnoic1s/image/upload/q_auto,f_auto/v1732901669/661d7dd5e13df_ruaphoto940x788_pspyjw.png); }
  60%, 70% { background-image: url(https://res.cloudinary.com/dycnoic1s/image/upload/q_auto,f_auto/v1732989576/20170831_164121-EFFECTS-1_tnn20j.jpg); }
  80%, 90% { background-image: url(https://res.cloudinary.com/dycnoic1s/image/upload/q_auto,f_auto/v1732901658/6617f1490e017_8cozinhaconjugada940x788_i5llgz.png);  }
  100% { background-image: url(https://res.cloudinary.com/dycnoic1s/image/upload/q_auto,f_auto/v1732989576/img-0461-largejpg_k2skk6.jpg); }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: scale(0.85);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.overlay .animated { animation: slideIn 1s forwards ease-in; }

/* Estilo do overlay */
.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  gap: 2.5%;
}

.overlay h1 {
  white-space: nowrap;
  letter-spacing: 2px;
  font-size: calc(0.8rem + 0.5vw);
  --_font-weight: 700;
  font-family: 'Speeling-night', sans-serif;
  animation: float 10s ease-in-out infinite;
}

.overlay h1 span {
  padding-left: 10px;
}

@media (max-width: 550px) {  
  .overlay h1 {  white-space: normal; --_margin-left-after: 0;  }
  .overlay {  align-items: center;  }
}

/* Overlay <p> */
.overlay .subtitle {
  --_margin-left-before: -50px;
  --_margin-left-after: 10px;
  --_font-weight: 700;
  width: 80%;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 2px;
  color: var(--cor-branco);
  margin-top: 2rem;
  font-size: calc(1rem + 1vw);
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Animação de flutuação */
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.text-with-lines.overlayh1 {
  --_line-width : 20%;
  --_line-height: 2.5px;
  --_line-left: -20%;
  --_line-right: -20%;
}

.text-with-lines {
  font-size: var(--_font-size, 2em);
  font-weight: var(--_font-weight, bold);
  color: var(--_font-color, var(--cor-laranja));
  position: relative;
  display: inline-block;
  padding: 0 20px;
}

.text-with-lines::before, .text-with-lines::after {
  content: "";
  position: absolute;
  width: var(--_line-width, 35%);
  height: var(--_line-height, 2px);
  background-color: var(--_line-color, var(--cor-laranja));
  top: 50%;
  transform: translateY(-50%);
}

.text-with-lines::before {
  left: var(--_line-left, -40%);
}

.text-with-lines::after {
  right: var(--_line-right, -40%);
}

/* BOOKING FORM */

.booking-form {
  position: relative;
  transform: translate(5%);
  background-color: var(--cor-branco);
  padding: 30px;
  width: 90%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 10px;
  align-items: baseline;
  justify-content: center;
  margin-top: -7dvh;
}

.booking-form details {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 5px;
  background-color: var(--cor-branco); /* Cor de fundo suave */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 12px;
  color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
  cursor: pointer;
  transition: background-color 300ms;
}

.booking-form details summary { display: inline-block; width: 100%; }

.booking-form details .details-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

details.hide-mobile summary::before {
  content: '▼ Faixa etária ';
}

details[open].hide-mobile summary::before {
  content: '▲ Faixa etária ';
}


@media (max-width: 990px) {
  details.hide-mobile summary::before {
    display: none;
  }
  details[open].hide-mobile summary::after {
    content: '                    ▲';
  }
}


.booking-form details:hover {
  background-color: #f0f0f0;
}

.booking-form details summary {
  font-weight: bold;
  color: #333;
  cursor: pointer;
  padding: 5px;
  white-space: nowrap;
}

.booking-form details label {
  font-size: 12px;
  color: #555;
  padding-top: 5px;
}

.booking-form details:hover p {
  color: #444; 
}


.booking-form * { cursor: pointer; }

 .desktop-label {
  white-space: nowrap;
}

 .desktop-label > span {
  color: blue;
}

 .desktop-label::after { content: "Crianças: menores de 13 anos (50% de desconto)\A\A Bebês: menores de 3 anos (100% de desconto)"; }
#adult-label::after { content: "Adultos: 13 anos ou mais (Paga inteira)"; --_bottom: -55px; }

.desktop-label::after {
  position: absolute;
  white-space: pre-wrap;
  bottom: var(--_bottom, -75px); /* Espaçamento abaixo do .desktop-label */
  left: -150%; /* Alinhamento com o .desktop-label */
  width: max-content;
  background-color: #333; /* Cor de fundo da tooltip */
  color: #fff; /* Cor do texto */
  padding: 5px 8px; /* Espaçamento interno */
  border-radius: 4px; /* Cantos arredondados */
  font-size: 14px; /* Tamanho do texto */
  opacity: 0; /* Invisível por padrão */
  pointer-events: none; /* Tooltip não interativa */
  transition: opacity 0.3s; /* Suaviza a aparição/desaparição */
}

.desktop-label:hover::after {
  opacity: 1;
}

.booking-dialog {
  top: 50%;
  left: 0;
  height: 15vw;
  min-height: 200px;
  min-width: 250px;
  width: 20vw;

  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--cor-branco);
  background-color: var(--cor-txt);
}
.booking-dialog > p { width: 50%; text-align: center; }
.booking-dialog > button { position: absolute; top: 5%; right: 5%; background-color: var(--cor-branco); 
  width: 15%; display: flex; justify-content: center; align-items: center;}

@media (max-width: 760px) {
  .booking-form { flex-direction: column; }
  .booking-form * { width: 100%; }
  .children label, .adult label { display: none; }
  .booking-form .mobile-label { display: block !important; }
  .booking-form details {
    width: 25%;
    min-width: max-content;
    top: -8%;
  }
  .booking-form details[open] { top: -20%; }
  .booking-form details summary::after { display: none; }
  .booking-form details summary::before { display: inline-block;}
}

.booking-form .mobile-label { text-align: center; }

input, select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.booking-form button {
  padding: 10px 20px;
  border: none;
  color: var(--cor-branco);
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  transition: all 300ms;
}

.booking-form button:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}