/** VARIÁVEIS **/
:root {
  --cor-azul-escuro: #107d9a;
  --cor-azul-claro: #7dceef;
  --cor-branco: #FFFAFA;
  --cor-roxo: #7b658b;
  --cor-lilas: #deb6fb;
  --cor-laranja: #debc47;
  --cor-atencao: #FFD700;
  --cor-txt: #191516;
  --gradient-1: linear-gradient(to right, var(var(--cor-azul-escuro)), var(--cor-branco));
  --gradient-2: linear-gradient(to right, var(var(--cor-roxo)), var(--cor-branco));
  --gradient-3: linear-gradient(to right, var(var(--cor-roxo)), var(--cor-laranja));
}
